
<div class=news>
  <p class="title"><%= @title01 %></p>
  <p class="url"><a href="<%= @url1 %>"><%= @url1 %></a></p>
  <p class="text"><%= @text01 %></p>
  <p class="tags"><%= @tags01 %></p>
  <img src="https://www.fnn.jp<%= @img01 %>" width="100px">
</div>

<div class=news>
  <p class="title"><%= @title02 %></p>
  <p><a href="<%= @url2 %>"><%= @url2 %></a></p>
  <p class="text"><%= @text02 %></p>
  <p class="tags"><%= @tags02 %></p>
  <img src="https://www.fnn.jp<%= @img02 %>" width="100px">
</div>





  <p class="title"><%= @title03 %></p>
  <p><a href="<%= @url3 %>"><%= @url3 %></a></p>
  <p class="text"><%= @text03 %></p>

  <p class="title"><%= @title04 %></p>
  <p><a href="<%= @url4 %>"><%= @url4 %></a></p>
  <p class="text"><%= @text04 %></p>

  <p class="title"><%= @title05 %></p>
  <p><a href="<%= @url5 %>"><%= @url5 %></a></p>
  <p class="text"><%= @text05 %></p>

  <p class="title"><%= @title06 %></p>
  <p><a href="<%= @url6 %>"><%= @url6 %></a></p>
  <p class="text"><%= @text06 %></p>

  <p class="title"><%= @title07 %></p>
  <p><a href="<%= @url7 %>"><%= @url7 %></a></p>
  <p class="text"><%= @text07 %></p>

  <p class="title"><%= @title08 %></p>
  <p><a href="<%= @url8 %>"><%= @url8 %></a></p>
  <p class="text"><%= @text08 %></p>

  <p class="title"><%= @title09 %></p>
  <p><a href="<%= @url9 %>"><%= @url9 %></a></p>
  <p class="text"><%= @text09 %></p>

  <p class="title"><%= @title10 %></p>
  <p><a href="<%= @url10 %>"><%= @url10 %></a></p>
  <p class="text"><%= @text10 %></p>
